{%- from "gitlab/map.jinja" import gitlab with context -%}
{
  "gitlab_workhorse": {
    "secret_token": "{{ gitlab.server.secrets.gitlab_workhorse.secret_token }}"
  },
  "gitlab_shell": {
    "secret_token": "{{ gitlab.server.secrets.gitlab_shell.secret_token }}"
  },
  "gitlab_rails": {
    "secret_key_base": "{{ gitlab.server.secrets.gitlab_rails.secret_key_base }}",
    "db_key_base": "{{ gitlab.server.secrets.gitlab_rails.db_key_base }}",
    "otp_key_base": "{{ gitlab.server.secrets.gitlab_rails.otp_key_base }}",
    "openid_connect_signing_key": {{ gitlab.server.secrets.gitlab_rails.openid_connect_signing_key }}
  },
  "gitlab_pages": {
    "admin_secret_token": "{{ gitlab.server.secrets.gitlab_pages.admin_secret_token }}",
    "gitlab_secret": "{{ gitlab.server.secrets.gitlab_pages.gitlab_secret }}",
    "gitlab_id": "{{ gitlab.server.secrets.gitlab_pages.gitlab_id }}",
    "auth_secret": "{{ gitlab.server.secrets.gitlab_pages.auth_secret }}"
  },
  "grafana": {
    "secret_key": "{{ gitlab.server.secrets.grafana.secret_key }}"
  },
  "registry": {
    "http_secret": "{{ gitlab.server.secrets.registry.http_secret }}",
    "internal_certificate": {{ gitlab.server.secrets.registry.internal_certificate }},
    "internal_key": {{ gitlab.server.secrets.registry.internal_key }}
  },
  "letsencrypt": {
    "auto_enabled": "{{ gitlab.server.secrets.letsencrypt.auto_enabled }}"
  },
  "mattermost": {
    "email_invite_salt": "{{ gitlab.server.secrets.mattermost.email_invite_salt }}",
    "file_public_link_salt": "{{ gitlab.server.secrets.mattermost.file_public_link_salt }}",
    "sql_at_rest_encrypt_key": "{{ gitlab.server.secrets.mattermost.sql_at_rest_encrypt_key }}",
    "gitlab_enable": "{{ gitlab.server.secrets.mattermost.gitlab_enable }}",
    "gitlab_secret": "{{ gitlab.server.secrets.mattermost.gitlab_secret }}",
    "gitlab_id": "{{ gitlab.server.secrets.mattermost.gitlab_id }}"
  },
  "postgresql": {
    "internal_certificate": {{ gitlab.server.secrets.postgresql.internal_certificate }},
    "internal_key": {{ gitlab.server.secrets.postgresql.internal_key }}
  }
}
